@mixin buttonStyle {
     display: block;
     border: none;
     background: $buttonColor;
     color: white;
     cursor: pointer;
     transition-property: opacity, box-shadow;
     transition-duration: 500ms, 500ms;
    &:hover {
        opacity: 0.8;
        box-shadow: 7px 7px 7px darken($backgroundColor, 30);
    }
}

@mixin buttonStyleSmall {
    @include buttonStyle();
    border-radius: 30px;
    font-size: 0.95em;
    box-shadow: 5px 5px 5px darken($backgroundColor, 10);
    padding: 15px 50px;
    margin: 50px auto;
}

@mixin buttonStyleLarge {
   @include buttonStyle();
    border-radius: 40px;
    font-size: 0.95em;
    box-shadow: 7px 7px 7px darken($backgroundColor, 10);
    padding: 18px 20px;
    margin: 30px auto;
}

@mixin backgroundMenu {
    width: 100%;
    height: 270px;
    background-size: 100% 270px;
    background-repeat: no-repeat;
    background-position-y: 65px; 
}

@mixin imgBackgroundMenu($name) {
    background-image: url("../images/restaurants/#{$name}"); 
}