/* GENERAL */
#backgroundMenu1 {
    @include backgroundMenu();
    @include imgBackgroundMenu("la_palette_du_gout.jpg"); 
}
#backgroundMenu2 {
    @include backgroundMenu();
    @include imgBackgroundMenu("la_note_enchantee.jpg");
}
#backgroundMenu3 {
    @include backgroundMenu();
    @include imgBackgroundMenu("a_la_francaise.jpg");
}
#backgroundMenu4 {
    @include backgroundMenu();
    @include imgBackgroundMenu("le_delice_des_sens.jpg");
}
    

/* SECTION 1 */
.containerMenu {
    border-radius: 40px 40px 0 0;
    background-color: $backgroundColor;
    padding-bottom: 20px;
    margin-top: 220px;
    &__title {
        position: relative;
        display: flex;
        margin-left: 20px;
        padding-top: 5px;
        h1{
            font-family: 'Shrikhand', sans-serif;
            font-size: 1.7em;
            margin-bottom: 7px;
        }
        i {
            position: absolute;
            top: 35px;
            right: 35px;
            font-size: 1.7em;
        }
    }
    &__food {
        h2{
            font-weight: 300;
            font-size: 1em;
            margin:0 0 20px 20px;
            padding:25px 0 5px 0;
            border-bottom: 3px solid $tertiary-color;
            width: 40px;
        }
    }
    &--entrees {
        flex-wrap: wrap;
        .thumbnailsMenu {
            animation: appearanceThumbnails 1s 250ms both;
        }
    }
    &--plats {
        .thumbnailsMenu {
            animation: appearanceThumbnails 1s 500ms both;
        } 
    }
    &--desserts {
        .thumbnailsMenu {
            animation: appearanceThumbnails 1s 750ms both;
        }   
    }
    button {
        @include buttonStyleSmall();
        padding: 15px 50px;
        margin: 50px auto;
        cursor: pointer;
    }
}
.thumbnailsMenu{
    width: 93%;
    height: 70px;
    margin: 12px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px  darken($backgroundColor, 10);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    cursor: pointer;
    &__title {
        width: 80%;
        min-width: 0;
        h3 {
            margin: 10px 0 5px 10px;
            font-size: 1.2em;
            font-weight: 400; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            margin: 0 0 10px 10px;
            font-weight: 300;
            font-size: 0.95em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price {
        font-size: 0.9em;
        margin: 20px 20px 0 15px;
        justify-content: flex-end;
    }
    &__check {
        width: 0;
        transition: width 500ms linear;
        background-color: $tertiary-color;
        color: white;
        border-radius: 0 15px 15px 0;
        overflow: hidden;
        .fa-check-circle {
            padding: 25px;
            font-size: 1.5em;
        }
    }
    
    &:hover  .thumbnailsMenu__check {
        width: 90px;
        > .fa-check-circle {
            animation: checkRotation 500ms linear both;
            }
    }
}

/* MEDIA QUERIES */

@media #{$largeScreen}
{
    #backgroundMenu1, #backgroundMenu2, #backgroundMenu3, #backgroundMenu4{
        background-size: 100% 1000px;
    }

    /* SECTION 1 */
    .containerMenu {
        margin-top: 800px;
        &__title{
            font-size: 1.6em;
            i {
                margin-top: 40px;
            }
        }
        h2 {
            margin-right: 60px;
            margin-top: 10px;
            height: 25px;
            font-size: 1.3em;
        }
        &__food {
            display: flex;
            margin-top: 30px;
            .thumbnailsMenu {
                width: 25%;
            }
        }
        button {
            @include buttonStyleLarge();
        }
    } 
    .containerMenu--entrees {
        .thumbnailsMenu:nth-child(5) {
            margin-left: 132px;
        }
    }
}

@media #{$mediumScreen}
{
   
    #backgroundMenu1, #backgroundMenu2, #backgroundMenu3, #backgroundMenu4{
        background-size: 100% 500px;
    }

    /* SECTION 1 */
    .containerMenu {
        margin-top: 400px;
    }
    .thumbnailsMenu {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
  